* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
.app {
  background-color: #030303;
  margin: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
